@charset "UTF-8";

/*
  基本
  モバイル: 375 * 812
 */
body {
    font-family: 'Noto Sans JP', sans-serif;
}

.container {
    width: 84%;
    margin: 0 auto;
}

@media (min-width: 900px) {
    .container {
        width: 91%;
        max-width: 1240px;
    }
}

/* reset */
body, h1, h2, h3, h4, h5, h6, p, ul, figure {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

/* スクリーンリーダー用 */
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* header */
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
}

@media (min-width: 900px) {
    .header__container {
        height: 100px;
    }
}

.header__site {
    display: flex;
    align-items: center;
}

.header__img {
    width: 42px;
    margin-right: 10px;
}

.header__corp {
    color: #333333;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
}

.header__desc {
    color: #707F89;
    font-size: 10px;
    line-height: 1.4;
}

@media (min-width: 900px) {
    .header__img {
        width: 59px;
        margin-right: 18px;
    }

    .header__corp {
        font-size: 20px;
    }

    .header__desc {
        font-size: 12px;
    }
}

/* navigation button */
.nav-button {
    box-sizing: content-box;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    width: 20px;
    height: 14px;
    cursor: pointer;
    color: #2E5180
}

.nav-button::before,
.nav-button::after {
    content: "";
    display: block;
    height: 2px;
    background-color: currentColor;
    transform: translateY(5px);
}

.nav-button::before {
    transform: translateY(-5px);
    box-shadow: 0 6px currentColor;
}

/* hero */
.hero {
    height: 400px;
    background-image: url("./assets/hero.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
}

.hero__catch {
    flex: auto;
    align-self: flex-end;
    padding: 33px 0;
    background-color: rgba(255, 255, 255, 0.76);
}

.hero__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    line-height: 1.3;
}

.hero__img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.hero__paragraph {
    font-size: 14px;
    color: #2E5180;
    margin-bottom: 15px;
}

@media (min-width: 900px) {
    .hero {
        height: 700px;
    }

    .hero__catch {
        padding: 47px 0 44px;
    }

    .hero__paragraph {
        font-size: 16px;
        margin-bottom: 22px;
    }
}

/* hero for IE11 */
@media (-ms-high-contrast: none), not all and (-ms-high-contrast: none) {
    .hero__img {
        width: calc((100vw - 17px) * 0.84);
        max-width: 637.78px;
    }
}

/* message */
.message {
    background-color: #2E5180;
    color: #ffffff;
    padding: 67px 0;
}

.message__heading {
    margin-bottom: 38px;
    font-size: 24px;
    line-height: 1.67;
    text-align: center;
}

.message__paragraph {
    font-size: 14px;
    line-height: 1.86;
    max-width: 640px;
    margin: auto;
}

@media (min-width: 900px) {
    .message {
        padding: 81px 0;
    }

    .message__heading {
        font-size: 36px;
        line-height: 1.33;
    }
}

@media (max-width: 374px) {
    .message__heading {
        font-size: 20px;
    }
}

/* service */
.service {
    padding: 67px 0;
    text-align: center;
}

.service__heading {
    display: inline-block;
    margin-bottom: 16px;
    padding-bottom: 9px;
    border-bottom: dotted 2px currentColor;
    font-size: 24px;
    color: #2E5180;
}

.service__paragraph {
    font-size: 16px;
    color: #2E5180;
}

@media (min-width: 900px) {
    .service {
        padding: 95px 0 87px;
    }

    .service__heading {
        font-size: 36px;
    }
}

/* details */
.details {
    margin-top: 53px;
    color: #333333;
}

.detail:not(:last-child) {
    margin-bottom: 67px;
}

.detail__figure {
    height: 246px;
    margin-bottom: 22px;
    background-position: center;
    background-size: cover;
}

.detail__figure--office {
    background-image: url("./assets/office.jpg");
}

.detail__figure--manage {
    background-image: url("./assets/manage.jpg");
}

.detail__figure--research {
    background-image: url("./assets/research.jpg");
}

.detail__heading {
    margin-bottom: 17px;
    font-size: 20px;
    line-height: 1.75;
}

.detail__paragraph {
    max-width: 246px;
    margin: 0 auto 25px;
    font-size: 12px;
    line-height: 2;
}