@charset "UTF-8";

/*
  基本
  モバイル: 375 * 812
 */
body {
    font-family: 'Noto Sans JP', sans-serif;
}

.container {
    width: 84%;
    margin: 0 auto;
}

@media (min-width: 900px) {
    .container {
        width: 91%;
        max-width: 1240px;
    }
}

/* reset */
body, h1, h2, h3, h4, h5, h6, p, ul, figure {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

/* スクリーンリーダー用 */
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* header */
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
}

@media (min-width: 900px) {
    .header__container {
        height: 100px;
    }
}

.header__site {
    display: flex;
    align-items: center;
}

.header__img {
    width: 42px;
    margin-right: 10px;
}

.header__corp {
    color: #333333;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
}

.header__desc {
    color: #707F89;
    font-size: 10px;
    line-height: 1.4;
}

@media (min-width: 900px) {
    .header__img {
        width: 59px;
        margin-right: 18px;
    }

    .header__corp {
        font-size: 20px;
    }

    .header__desc {
        font-size: 12px;
    }
}

/* navigation button */
.nav-button {
    box-sizing: content-box;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    width: 20px;
    height: 14px;
    cursor: pointer;
    color: #2E5180
}

.nav-button::before,
.nav-button::after {
    content: "";
    display: block;
    height: 2px;
    background-color: currentColor;
    transform: translateY(5px);
}

.nav-button::before {
    transform: translateY(-5px);
    box-shadow: 0 6px currentColor;
}